#main-container {
    background-image: url('./images/lilypads/lilypads.png');
}

#nav {
    background-color: #ffffff; 
    border-bottom: 2px solid #cccccc; 
    color: #999999;
    line-height: 50px; padding: 0;
}
#name-container {
    background:#4aaaa5; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center; 
    font-size: 30px; 
    width: 250px; 
    height: 66px; 
}

#name-container > a {
    color: #777777

}

#jumbo {
    margin: 60px; 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    color: #4aaaa5;
}

#footer-container, #nav-container {
    padding-right:0;
    padding-left:0;
}